body {
  --color1: #022c43;
  --color2: #053f5e;
  --color3: #115173;
  --color4: #ffd700;
  font-size: 15px;
  background-color: var(--color1);
  color: white;
}

header {
  text-align: center;
  line-height: 1.2rem;
}

.container {
  background-color: var(--color3);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.form-group {
  width: 90%;
  margin: 10px 0px;
}

input {
  width: 100%;
}
